{
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"corejs": 2,
				"regenerator": true
			}
		],
		[
			"inline-svg",
			{
				"ignorePattern": "icons",
				"disableNamespaceIds": true,
				"svgo": {
					"plugins": [
						{
							"removeDimensions": true
						}
					]
				}
			}
		]
	]
}