.message {
    display: flex;
    flex-direction: column;

    &__container {
        width: 100%;
        
        @media only screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
            padding: 0 100px;
        }
    }

    &__top {
        display: flex;
        
        @media only screen and (min-width: 1200px) {
            flex-direction: column-reverse;
        }
    }

    &__image {
        width: 125px;
        height: 92px;
    }

    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        margin-left: 12px;

        @media only screen and (min-width: 1200px) {
            position: relative;
            padding-left: 35px;
            margin: 15px 0;

            &::before {
                content: "";
                background-image: url('../assets/doubleQuotes.svg');
                display: block;
                width: 39px;
                height: 32px;
                position: absolute;
                left: -15px;
            }
        }
    }

    &__text {
        font-size: 14px;
        margin-top: 10px;
    }

    @media only screen and (min-width: 1200px) {
        width: 50%;
    }
}