@import 'card';
@import 'header';
@import 'messages';
@import 'technologies';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans";
	color: #000000;
	line-height: 1.5;
	background-color: #E5E5E5;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px;

	@media only screen and (min-width: 1200px) {
		max-width: 1200px;
		margin: 0 auto;
	}
}

.heading {
    font-size: 30px;
	font-weight: bold;
	color: #000000;
    line-height: 41px;
	margin: 40px 0;
	width: 100%;
	text-align: center;
}
